table{
    border-spacing: 0;
    font-family: Arial;
    text-align: left;
}
th, td{
    border: 3px solid #00eeff;
}
td, th{
    border-right-width: 0;
    border-bottom-width: 0; 
    
}
tr th:last-child,
tr td:last-child{
    border-right-width: 3px;
}
tr:last-child td{
    border-bottom-width: 3px;
    font-weight: bolder; 
    background: #89b444;
    color: #ffffff;
    border-color: #00eeff;
}
th{
    background: #89b444;
}
td{
    background: rgb(255, 123, 0);
}
tr:last-child th{
    font-weight: normal;
}